body {
  background: radial-gradient(circle, rgba(139, 43, 255, 1) 0%, rgba(237, 225, 226, 1) 100%);
  min-height: 100vh; 
  margin: 0;
  padding: 0;
}

label {
  font-weight: bold;
}

input::placeholder {
  font-style: italic;
  color: black;
}

.custom-btn {
  background-color: #8F42E3 !important;
  color: white !important;
  border: 2px solid #421e68 !important;
  border-radius: 8px !important; 
  height: 30px !important;       
  font-weight: 15px !important;  
}

.custom-btn:hover {
  background-color: #732dbd !important; 
}

a {
  text-decoration: none !important;
}