html, #root { /* Añadimos las reglas al html y al contenedor raíz */
    height: 100%;
}

body {
    margin: 0;
    height: 100%; /* El body debe ocupar el 100% de la altura de html */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@import "bootstrap-icons/font/bootstrap-icons.css";
